# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
api/HousesApi/obj/Debug/net8.0/HousesApi.AssemblyInfo.cs
api/HousesApi/obj/Debug/net8.0/HousesApi.AssemblyInfoInputs.cache
api/HousesApi/obj/Debug/net8.0/HousesApi.assets.cache
api/HousesApi/obj/Debug/net8.0/HousesApi.GeneratedMSBuildEditorConfig.editorconfig
